[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
ipython = "*"
django-extensions = "*"
django-endless-pagination = "*"

[dev-packages]

[requires]
python_version = "3.6"
